

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1695376425672-3fbaec8e9c82?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1887");
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.ant-layout  {
  height: 100vh;
}

.ant-layout-content {
  overflow: auto;
}

::-webkit-scrollbar {
  background: #d7d7d7;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.newProducts {
  padding-bottom: 50px;
  background: #a9a9a930;
  border-radius: 20px;
}
